<section id="sctn-CardGrid">
    <div class="service-card-grid">
        <div class="row1 mb-2 pb-5">
            <div class="col">
                <div class="titlepage text-center">
                    <h1 class="display-4">Check <span class="text-danger">Out  </span><span class="text-primary">This 4</span><span class="text-warning"> Column,</span> <span class="text-success">Card Grid</span></h1>
                    <p>Below grid uses the Grid Cards introduced in bootstrap 4.5.3 to group rectangle boxes. </p>
                    <p>
                        Need a set of equal width and height cards that aren’t attached to one another? Use Grid Cards similar to card decks in previous bootstrap version. Card footers in decks will automatically line up.
                    </p>

                    <small>Note that on a small screen, i.e. mobile, it will stack up in to one column. On medium size devices it will show 2 cards per row stacking on the other two.</small>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4">
            <div class="col mb-4">
                <div class="card border-primary h-100">
                    <div class="card-header text-white bg-primary"> <h5 class="card-title text-center">Desktop Apps</h5></div>

                    <div class="card-body">
                        <img src="~/img/undraw_setup_analytics_re_foim.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card  border-orange h-100">
                    <div class="card-header text-white bg-orange"> <h5 class="card-title text-center">eCommerce</h5></div>

                    <div class="card-body">
                        <img src="~/img/undraw_developer_activity_re_39tg.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-success h-100">
                    <div class="card-header text-white bg-success"> <h5 class="card-title text-center">IT Services</h5></div>

                    <div class="card-body">
                        <<img src="~/img/undraw_building_re_xfcm.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-purple h-100">
                    <div class="card-header text-white bg-purple"> <h5 class="card-title text-center">Web Development</h5></div>
                    <div class="card-body">
                        <img src="~/img/web-h-sv.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-warning h-100">
                    <div class="card-header   bg-warning"> <h5 class="card-title text-center">Email Marketing</h5></div>
                    <div class="card-body">
                        <img src="~/img//undraw_new_message_re_fp03.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-danger h-100">
                    <div class="card-header text-white bg-danger"> <h5 class="card-title text-center">Web Hosting</h5></div>
                    <div class="card-body">
                        <img src="~/img/undraw_best_place_re_lne9.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-skyblue h-100">
                    <div class="card-header text-white bg-skyblue"> <h5 class="card-title text-center">Mobile Apps </h5></div>

                    <div class="card-body">
                        <img src="~/img/undraw_mobile_development_re_wwsn.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card border-pink h-100">
                    <div class="card-header text-white bg-pink"> <h5 class="card-title text-center">eCommerce</h5></div>
                    <div class="card-body">
                        <img src="~/img/undraw_programming_re_kg9v.svg" class="card-img-top" alt="...">
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>

        </div>



    </div>
</section>
