<section id="feature-how-to-use">

    <div class="jumbo text-center">
        <h1 class="display-1 mt-5 mb-5">How to use this template:</h1>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">This site is generated using the custom Visual Studio template developed by an open-source-supported software developer.  </p>
            <p class="card-text">If you see this site now, you may have installed the template by downloading the template from Visual Studio Market place for free. </p>
            <h3 class="card-text">Make any changes you wish!</h3>
        </div>

    </div>

    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">If you want to contribute to the ASP.NET Core template, you can join my template projects at gihub.</p>
        </div>

    </div>
    <div class="card text-center mt-5">
        <div class="card-body">
            <p class="card-text">More tempaltes will be added later.</p>
            <p class="card-text">And also future Visual Studio versions( such as upcoming 2022) templates will be added. Stay tuned..</p>
        </div>
    </div>
</section>
