
<section id="section-service-feature-grid">
    <div class="service-feature-grid">
        <div class="feature1-header">
            <div class="titlepage text-center">
                <h1 class="display-4">We Provide Best Services</h1>
                <p>
                    Another way to get equal width and height rectangles that aren’t attached to one another? This uses default bootstrap columns.
                </p>
                <small>Note that on a small screen, i.e. mobile, it will stack up in to one column. On medium size devices it will show 2 rectangles per row stacking on the others by two per row. on larger devices it will show 3 rectangles per row stacking on the others by three per row.</small>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6  col-adjust">
                    <div class="des-box h-100">
                        <a asp-area="" asp-page="" class="h-100">
                            <div class="border-feature1">
                                <div class="feature-img">
                                    <span class="fa fa-award fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="card-body">
                                    <h3 class="feature-titel mb-2">Web App Development</h3>
                                    <p class="card-text">This is a wider rectangle with supporting text below as a natural lead-in to additional content. This content can be a little bit longer.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-adjust">
                    <div class="des-box h-100">
                        <a asp-area="" asp-page="" class="h-100">
                            <div class="border-feature1">
                                <div class="feature-img">
                                    <span class="fa fa-anchor fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="card-body">
                                    <h3 class="feature-titel mb-2">Marketing Services</h3>
                                    <p class="card-text">Additionally, see the background color changes when mouse hover over a rectangle. A little cosmetic addition. </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-adjust">
                    <div class="des-box h-100">
                        <a asp-area="" asp-page="" class="h-100">
                            <div class="border-feature1">
                                <div class="feature-img">
                                    <span class="fa fa-atlas fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="card-body">
                                    <h3 class="feature-titel mb-2">Social Media Marketing</h3>
                                    <p class="card-text">Font-awesome icons used to be a good choice before, but recently they are adding too many comments or their foot-prints to the generated HTML source code, making it unhealthy for the users.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-adjust">
                    <div class="des-box h-100">
                        <a asp-area="" asp-page="" class="h-100">
                            <div class="border-feature1">
                                <div class="feature-img">
                                    <span class="fa fa-book-open fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="card-body">
                                    <h3 class="feature-titel mb-2">SEO Optimization Services</h3>
                                    <p class="card-text">You may have noticed that the meanings of headings and the contents of each rectangle do not match. Yes, that is because this is a template only, just to demonstrate. </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-adjust">
                    <div class="des-box h-100">
                        <a asp-area="" asp-page="" class="h-100">
                            <div class="border-feature1">
                                <div class="feature-img">
                                    <span class="fa fa-feather fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="card-body">
                                    <h3 class="feature-titel mb-2">Quality assured</h3>
                                    <p class="card-text">I am using some meaningful sentences about the template to fill in the contents instead of using boring French words on an English language website.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-adjust">
                    <div class="des-box h-100">
                        <a asp-area="" asp-page="" class="h-100">
                            <div class="border-feature1">
                                <div class="feature-img">
                                    <span class="fa fa-globe fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="card-body">
                                    <h3 class="feature-titel mb-2">24/7 Call Center Service</h3>
                                    <p class="card-text">A creative developer should not copy the same boring French paragraphs again and again, just because others are doing it.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

