@using RP.Core31.BSDD.Pages.HelperUtilities

@{

    string DotNetCoreVersion = SystemHelpers.getCoreVersion();

}
<h1 class="display-4 pt-3 pb-3">Welcome</h1>
<h2>New Project Template For ASP.NET Core @DotNetCoreVersion Razor Pages Web Application  </h2>
<h3>This template can be used with or without user Authentication.</h3>
<p>Also It uses the bootstrap 4.5.3 framework as default UI. </p>
<p>The template extends the existing Visual Studio  ASP.NET Core Razor pages web template project with most helpful features to build a professional web site.</p>
