/* The site used following breakpoints as defaults. */
$bp320-xx-small: 20em; //  20*16px = 320px
$bp480-x-small: 30em; // 30*16px = 480px
$bp576-small: 36em; // 36*16px = 576px
$bp768-medium: 48em; // 48*16px = 768px
$bp992-large: 62em; // 62*16px = 992px
$bp1200-x-large: 75em; // 75*16px = 1200px
$bp1400-xx-large: 87.5em; // 87.5*16px = 1400px
$bp1680-xxx-large: 105em; // 105*16px = 1680px
$bp1920-hd: 120em; // 120*16px = 1920px
$bp2560-ultrasharp: 160em; // 160*16px = 2560px
$bp3840-uhd-4k: 240em; // 240*16px = 3840px
$bp7680-uhd-8k: 480em; //  480*16px = 7680px

/*

@media (min-width: $bp320-xx-small){} //20*16px = 320px 
@media (min-width: $bp480-x-small) {}
@media (min-width: $bp576-small){}
@media (min-width: $bp768-medium){}
@media (min-width: $bp992-large){}
@media (min-width: $bp1200-x-large) {}
@media (min-width: $bp1400-xx-large){}
@media (min-width: $bp1680-xxx-large){}
@media (min-width: $bp1920-hd){}
@media (min-width: $bp2560-ultrasharp){}
@media (min-width: $bp3840-uhd-4k){}
@media (min-width: $bp7680-uhd-8k){}

    */

