@import 'DefaultBreakPoints.scss';
@import 'scssFunctions.scss';

$breakpt: $bp320-xx-small*16;
$breakpt_display_font_size: 0.727374em;//0.8rem;

.design-test-guide, .new-design-test-guide, .dtg {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    font-size: $breakpt_display_font_size;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.logo {
    .guide-item {
        color: #f8f7b8;
        font-size: 12px;
        .viewport-width::after, .viewport-height::after {
            content: "px";
        }
    }

}


.design-test-guide, .new-design-test-guide, .dtg {
    //margin-top: 1rem;
    //margin-right: 0.5rem;

    .guide-item {
        border-radius: .2rem;
        background-color: #e2faa7;
        padding: .5rem;
    }
}

.design-test-guide, .dtg {
    margin-top: 2rem;
    /*margin-top: 111px;*/
}

.break-point::after {
    content: str-replace(str-replace("BP < " + $breakpt, "em", "px" ), "px", "px(" + $bp320-xx-small + ")" );
    // content: designTestGuideBreakPointContent("BP < ", $breakpt, $bp320-xx-small);
    font-size: 8px; /* Fallback to support old outlook websites */
    font-size: $breakpt_display_font_size;
}

.show-menu-break-point-text::after {
    content: str-replace(str-replace("BP < " + $breakpt, "em", "px" ), "px", "px(" + $bp320-xx-small + ")" );
    font-size: 5px; /* Fallback to support old outlook websites */
    font-size: 0.5rem;
    
}

.sticky-footer {
    position: fixed;
    bottom: 0px;
    left: 8px;
    z-index: 99;
}

.dev-col {
    padding: 0.1rem 0.5rem;
    background: #000000;

    .show-menu-break-point-text {
        color: white;
    }
}

@media (min-width: $bp320-xx-small) {
    /* 20*16px = 320px */
    .design-test-guide, .new-design-test-guide {
        margin-right: 0rem;
    }

    $breakpt: $bp320-xx-small*16;

    .break-point::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp320-xx-small + ")" );
    }

    .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp320-xx-small + ")" );
        // font-size: 6px; /* Fallback to support old outlook websites */
        // font-size: 0.6rem;
    }
}

@media (min-width: $bp480-x-small) {
    /* 30*16px = 480px */
    $breakpt: $bp480-x-small*16;

    .break-point::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp480-x-small + ")" );
    }

    .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp480-x-small + ")" );
        font-size: 7px; /* Fallback to support old outlook websites */
        font-size: 0.7rem;
    }
}

@media (min-width: $bp576-small) {
    /* 36*16px = 576px */
    $breakpt_display_font: 0.6rem;

    .design-test-guide, .new-design-test-guide, .dtg {
        grid-template-columns: repeat(2, 1fr);
        font-size: $breakpt_display_font;
    }

    .new-design-test-guide {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        > div:first-child {
            grid-column: span 3;
        }
    }

    .dtg {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        > div:nth-child(5) {
            grid-column: span 3;
        }
    }

    $breakpt: $bp576-small*16;

    .break-point::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp576-small + ")" );
        font-size: $breakpt_display_font;
    }

    .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp576-small + ")" );
        font-size: 8px; /* Fallback to support old outlook websites */
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp768-medium) {
    /*  48*16px = 768px */

    .new-design-test-guide {
        // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        > div:first-child {
            grid-column: span 4;
        }
    }

    .dtg {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        > div:nth-child(5) {
            grid-column: span 2;
        }
    }

    $breakpt: $bp768-medium*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp768-medium + ")" );
    }
}

@media (min-width: $bp992-large) {
    /* 62*16px = 992px */
    // $breakpt_display_font: 0.6rem;
    .design-test-guide {
        grid-template-columns: repeat(4, 1fr);
        // font-size: $breakpt_display_font;
    }

    .new-design-test-guide {
        // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        > div:first-child {
            grid-column: span 5;
        }
    }

    .dtg {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        > div:nth-child(5) {
            grid-column: span 3;
        }
    }

    $breakpt: $bp992-large*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp992-large + ")" );
    }
}

@media (min-width: $bp1200-x-large) {
    /* 75*16px = 1200px */

    $breakpt_display_font: 0.8rem;

    .new-design-test-guide, .design-test-guide, .dtg {
        // grid-template-columns: repeat(4, 1fr);
        font-size: $breakpt_display_font;
    }

    .new-design-test-guide {
        > div:first-child {
            grid-column: span 4;
        }
    }

    /*    .dtg {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 0.5rem;
        font-size: $breakpt_display_font;

        > div:nth-child(5) {
            grid-column: span 3;
        }
    }*/

    $breakpt: $bp1200-x-large*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp1200-x-large+ ")" );
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp1400-xx-large) {
    /* 87.5*16px = 1400px */
    $breakpt_display_font: 0.6rem;

    .dtg {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 0.5rem;
        font-size: $breakpt_display_font;

        > div:nth-child(5) {
            grid-column: span 3;
        }
    }

    $breakpt: $bp1400-xx-large*16;


    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp1400-xx-large + ")" );
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp1680-xxx-large) {
    /* 105*16px = 1680px */
    $breakpt_display_font: 0.7rem;

    .dtg {
        font-size: $breakpt_display_font;
    }

    $breakpt: $bp1680-xxx-large*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp1680-xxx-large + ")" );
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp1920-hd) {
    /* 120*16px = 1920px */
    $breakpt_display_font: 0.9rem;

    .dtg {
        font-size: $breakpt_display_font;
    }

    $breakpt: $bp1920-hd*16;

    .design-test-guide {
        grid-template-columns: repeat(8, 1fr);
        // font-size: $breakpt_display_font;
    }

    .new-design-test-guide {
    }

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp1920-hd + ")" );
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp2560-ultrasharp) {
    /* 160*16px = 2560px */
    $breakpt_display_font: 1rem;

    .dtg {
        font-size: $breakpt_display_font;
    }

    $breakpt: $bp2560-ultrasharp*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp2560-ultrasharp + ")" );
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp3840-uhd-4k) {
    /* 240*16px = 3840px */
    $breakpt_display_font: 1.3rem;

    .dtg {
        font-size: $breakpt_display_font;
    }

    $breakpt: $bp3840-uhd-4k*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp3840-uhd-4k + ")" );
        font-size: $breakpt_display_font;
    }
}

@media (min-width: $bp7680-uhd-8k) {
    /* 480*16px = 7680px */
    $breakpt_display_font: 1.6rem;

    .dtg {
        font-size: $breakpt_display_font;
    }

    $breakpt: $bp7680-uhd-8k*16;

    .break-point::after, .show-menu-break-point-text::after {
        content: str-replace(str-replace("BP = " + $breakpt, "em", "px" ), "px", "px(" + $bp7680-uhd-8k + ")" );
        font-size: $breakpt_display_font;
    }
}
