@import 'NavBarDefaults.scss';



.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.home-top-nav a, .navbar-default .navbar-nav > li > a, .home-top-nav ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.home-top-nav .active a,.home-top-nav .active a:focus,.home-top-nav .active a:hover,.home-top-nav li a:hover,.home-top-nav li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #fff;background: #4CAF50;outline: 0;}
/*==========Sub Menu=v==========*/
.home-top-nav .collapse ul > li:hover > a{background: #4CAF50;}
.home-top-nav .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: #4CAF50;}
.home-top-nav .collapse ul ul ul > li:hover > a{background: #4CAF50;}

.home-top-nav .collapse ul ul, .home-top-nav .collapse ul ul.dropdown-menu{background:#1565C0;}
.home-top-nav .collapse ul ul ul, .home-top-nav .collapse ul ul ul.dropdown-menu{background:#1E88E5}
.home-top-nav .collapse ul ul ul ul, .home-top-nav .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}

/******************************Drop-down menu work on hover**********************************/
.home-top-nav{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
.home-top-nav .collapse ul li:hover> ul{display:block}
.home-top-nav .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.home-top-nav .collapse ul ul li{position:relative}
.home-top-nav .collapse ul ul li:hover> ul{display:block}
.home-top-nav .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.home-top-nav .collapse ul ul ul li{position:relative}
.home-top-nav .collapse ul ul ul li:hover ul{display:block}
.home-top-nav .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

/* rightmost dropdown */

    /*first level: Same as default dropdown*/
    /*second level*/
    .home-top-nav .collapse ul .rightmost-dropdown ul li{position:relative}
    .home-top-nav .collapse ul .rightmost-dropdown ul li:hover> ul{display:block}
    .home-top-nav .collapse ul .rightmost-dropdown ul li:focus> ul{display:block}
    .home-top-nav .collapse ul .rightmost-dropdown ul ul{position:absolute;top:0;left:-100%;right:100%;min-width:250px;display:none}
    /*.home-top-nav .collapse ul .rightmost-dropdown ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none}*/
    /*third level*/

    .home-top-nav .collapse ul .rightmost-dropdown ul ul li{position:relative}
    .home-top-nav .collapse ul .rightmost-dropdown ul ul li:hover ul{display:block}
    .home-top-nav .collapse ul .rightmost-dropdown ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none;z-index:1}
}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}

