@import 'NavbarDefaults.scss';
@import 'scssFunctions.scss';

$navHight: 110px;
$navHightShrinkMin: 50px;
$navMainFontSize: 16px;
$navMainShrinkFontSize: 15px;


/*#region Navbar < 576px  */

/*.navbar {
    min-height: $navbar-height;
    margin-bottom: 0px !important;
}*/
.nav-height {
    min-height: $navHight;
    padding-top: 15px;
    margin-bottom: 0px !important;
}

.nav-height-shrink {
    min-height: $navHightShrinkMin;
    padding: -15px;
    transition: all 0.5s ease;
}

.home-top-nav a, .navbar-default .navbar-nav > li > a, .home-top-nav ul li a, .navbar-expand-lg .navbar-nav .nav-link, .navbar > li > a {
    padding: 6px 5px;
    text-transform: capitalize;
    font-size: $navMainFontSize;
}

.navbar-brand, .nav-link {
    font-size: $navMainFontSize;
}

.navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
    font-size: $navMainShrinkFontSize !important;
    color: #ecf0f1;
    font-weight: 200;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav .navbar-toggler-shrink {
    margin-right: 1.5rem;
    padding: 0.2rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

li.nav-item {
    padding-bottom: 5px;
}

.adjust-right-ddl {
    margin-right: 1.75rem !important;
}

.navbar.bg-our-color {
    /* background-color: #820578;*/
}

/*.home-top-nav a, .navbar > li > a {
    text-transform: capitalize;
    padding: 5px 4px;
}*/


/*#endregion Navbar < 576px */


@media (min-width: 576px) {
    $navHight: 110px;
    $navHightShrinkMin: 55px;

    $navMainFontSize: 18px;
    $navMainShrinkFontSize: 17px;

    .nav-height {
        min-height: $navHight;
    }

    .nav-height-shrink {
        min-height: $navHightShrinkMin;
    }

    .home-top-nav a, .navbar-default .navbar-nav > li > a, .home-top-nav ul li a, .navbar-expand-lg .navbar-nav .nav-link, .navbar > li > a {
        font-size: $navMainFontSize;
    }

    .navbar-brand, .nav-link {
        font-size: $navMainFontSize;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: $navMainShrinkFontSize !important;
        font-weight: 300;
    }
}

@media only screen and (max-width: 767px) {
    $DropDownMinWidth: 100px;

    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 4px 6px 4px 6px
    }

    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 4px 6px 4px 6px
    }

    .home-top-nav .collapse ul ul {
        min-width: $DropDownMinWidth;
    }
}



@mixin mixin-AdjustTopMenuDropDown($DropDownMinWidth, $DropDownMaxWidth) {
    
    .home-top-nav.collapse ul ul {
        min-width: $DropDownMinWidth;
        max-width: $DropDownMaxWidth;

        ul {
            min-width: $DropDownMinWidth;
            max-width: $DropDownMaxWidth;

            a {
                white-space: normal;
            }

            ul {
                min-width: $DropDownMinWidth;
                max-width: $DropDownMaxWidth;

                a {
                    white-space: normal;
                }
            }
        }
    }
    /*#region right-most Dropdown */
    .home-top-nav .collapse ul.right-menu .rightmost-dropdown ul {
        ul {
            left: -100%;
            min-width: $DropDownMinWidth;
            max-width: $DropDownMaxWidth;

            ul {
                left: 100%;

                ul {
                    left: -100%;
                }
            }
        }
    }
    /*#endregion right-most Dropdown */
}

@media (min-width: 768px) {
    $DropDownMinWidth: 200px;
    $DropDownMaxWidth: 200px;

    @include mixin-AdjustTopMenuDropDown($DropDownMinWidth, $DropDownMaxWidth);
 /*   .home-top-nav .collapse ul ul {
        min-width: $DropDownMinMaxWidth;
        max-width: $DropDownMinMaxWidth;

        ul {
            min-width: $DropDownMinMaxWidth;
            max-width: $DropDownMinMaxWidth;

            a {
                white-space: normal;
            }

            ul {
                min-width: $DropDownMinMaxWidth;
                max-width: $DropDownMinMaxWidth;

                a {
                    white-space: normal;
                }
            }
        }
    }*/

    /*#region right-most Dropdown */
/*    .home-top-nav .collapse ul.right-menu .rightmost-dropdown ul {
        ul {
            left: -100%;
            min-width: $DropDownMinMaxWidth;
            max-width: $DropDownMinMaxWidth;

            ul {
                left: 100%;

                ul {
                    left: -100%;
                }
            }
        }
    }*/

    .adjust-right-ddl {
        margin-right: 2.15rem !important;
    }

    /*#endregion Right-most Dropdown*/

}

@media (min-width: 992px) {

    .home-top-nav a, .navbar-default .navbar-nav > li > a, .home-top-nav ul li a, .navbar-expand-lg .navbar-nav .nav-link, .navbar > li > a {
        padding: 7px 8px;
    }


    /*    .home-top-nav .collapse ul .dropdown > ul.dropdown-menu {
        min-width: 205px;
    }

    .home-top-nav .collapse ul .dropdown ul ul ul {
        min-width: 260px;
    }

    .home-top-nav .collapse ul .dropdown ul ul ul li {
        overflow: auto;
    }*/

    /*#region right-most Dropdown */

    /* .home-top-nav .collapse ul .rightmost-dropdown ul ul {
        left: -120%;
        min-width: 170px;
    }
*/
    /*    .home-top-nav .collapse ul .rightmost-dropdown > ul.dropdown-menu {
        min-width: 205px;
    }

    .home-top-nav .collapse ul .rightmost-dropdown ul ul ul {
        min-width: 260px;
    }

    .home-top-nav .collapse ul .rightmost-dropdown ul ul ul li {
        
        overflow:auto;
    }*/


}


@media (min-width: 1200px) {

    /*#region right-most Dropdown */

    /*       .home-top-nav .collapse ul .rightmost-dropdown ul ul {
        left: -130%;
        min-width: 180px;
    }

  .home-top-nav .collapse ul .rightmost-dropdown > ul.dropdown-menu {
        min-width: 215px;
    }

    .home-top-nav .collapse ul .rightmost-dropdown ul ul ul {
        min-width: 270px;
    }

    .home-top-nav .collapse ul .rightmost-dropdown ul ul ul li {
        overflow: auto;
    }*/
    .adjust-right-ddl {
        margin-right: 2.5rem !important;
    }

    /*#endregion Right-most Dropdown*/
    /* .navbar .home-top-nav, .navbar-brand, .nav-link {
        font-size: 22px;
    }

    .nav-height-shrink {
        min-height: 60px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 20px !important;
    }*/

}

/*
@media (min-width: 1980px) {

    .navbar .home-top-nav, .navbar-brand, .nav-link {
        font-size: 24px;
    }

    .nav-height-shrink {
        min-height: 64px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 22px !important;
    }
}*/


