<section id="sctn-business-scope">
    <div class="business-scope">

        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <img src="~/img/shop.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Corporate Business</h5>
                                <p class="card-text">This is a card with a picture and supporting text next as a natural lead-in to additional content. On larger devices it will show as a little bit longer card with the picture on the right.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <img src="~/img/it-learn.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">App Development</h5>
                                <p class="card-text">On medium devices it will show as a little bit narrower but taller card with the picture on the top.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <img src="~/img/trees.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">IT Consultancy</h5>
                                <p class="card-text">On smaller devices such as mobiles, all three cards will be stacked up while the picture showing on top of the card.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

