
<h1 class="display-3 pt-3 pb-3 text-capitalize text-center">Wrapping Text Around The image</h1>
<div class="container">
    <article class="row  mt-1  ">
        <div class="col bg-white mb-4">
            <div class="image-wrapper float-left pr-3">
                <img src="~/img/bank.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">Text wrap around the image.</h5>
                <p class="card-text">This is a longer text with supporting text below as a natural wrap around to additional content. This content is a little bit longer.</p>
            </div>
        </div>

    </article>

    <article class="row  mt-1  row-cols-1 row-cols-md-3">
        <div class="col bg-white mb-4">

            <div class="image-wrapper float-left pr-3">
                <img src="~/img/shop.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col   mb-4">
            <div class="image-wrapper float-left pr-3">
                <img src="~/img/it-learn.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="col  bg-white mb-4">
            <div class="image-wrapper float-left pr-3">
                <img src="~/img/trees.svg" alt="">
            </div>
            <div class="single-post-content-wrapper pr-3">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </article>

</div>
