@import "scss/HoverNavBar.scss";


/*#region Site Defaults */
html {
    font-size: 16px;
}
body {
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}

.main-wrapper {
    padding: 0.5em 0.5em 0 0.5em;
   /* background-image: url("../img/top-bg.svg");*/
    background-size: cover;
}

.main-wrapper h1 {
    font-weight: 600;
    font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans', "Segoe UI", Roboto, "Helvetica", Arial, sans-serif;
    color: #ff6a00;
}


.main-panel::before {
    z-index: 0;
    content: "";
    background: -webkit-gradient(linear,left top,left bottom,from(#c374ff),color-stop(90%,#faf9fd));
    background: linear-gradient(180deg,#c374ff 0%,#faf9fd 90%);
    /*  position: absolute;
        left: 0;
        width: 100%;
        top: 0;*/
    height: 140%;
    width: 100%;
}

.header {
    padding-top: 100px;
}

a {
    color: #0366d6;
}

a:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

h1.display-4 {
    font-size: 24px;
}

.jumbo h1.display-1 {
    font-size: 40px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

p {
    font-size: 1rem;
}

.text-wrap {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
}

.card-deck {
    padding-top: 2em;
}

.card-footer.text-muted {
    font-size: medium;
}

/*#endregion Site Defaults*/

/*#region bootstrap extended */

.mt-6 {
    margin-top: 3.5rem !important;
}

.pt-6 {
    padding-top: 3.5rem !important;
}

.mt-7 {
    margin-top: 4rem !important;
}

.pt-7 {
    padding-top: 4rem !important;
}

.mt-8 {
    margin-top: 4.5rem !important;
}

.pt-8 {
    padding-top: 4.5rem !important;
}

.mt-9 {
    margin-top: 5rem !important;
}

.pt-9 {
    padding-top: 5rem !important;
}

.mt-10 {
    margin-top: 5.5rem !important;
}

.pt-10 {
    padding-top: 5.5rem !important;
}

.border-purple {
    border-color: #6c41ff;
}

.bg-purple {
    background-color: #6c41ff;
}

.border-skyblue {
    border-color: deepskyblue;
}

.bg-skyblue {
    background-color: #00b0ff;
}

.border-orange {
    border-color: #f37b04;
}

.bg-orange {
    background-color: #f37b04;
}

.border-pink {
    border-color: #f332e4;
}

.bg-pink {
    background-color: #f332e4;
}

/*#endregion bootstrap extended */
