/*#region Site Defaults */
/*html {
    font-size: 16px;
}
body {
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
}

.main-wrapper {
    padding: 0.5em 0.5em 0 0.5em;*/
/* background-image: url("../img/top-bg.svg");*/
/*background-size: cover;
}

.main-wrapper h1 {
    font-weight: 600;
    font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans', "Segoe UI", Roboto, "Helvetica", Arial, sans-serif;
    color: #ff6a00;
}


.main-panel::before {
    z-index: 0;
    content: "";
    background: -webkit-gradient(linear,left top,left bottom,from(#c374ff),color-stop(90%,#faf9fd));
    background: linear-gradient(180deg,#c374ff 0%,#faf9fd 90%);*/
/*  position: absolute;
        left: 0;
        width: 100%;
        top: 0;*/
/*height: 140%;
    width: 100%;
}

.header {
    padding-top: 100px;
}

a {
    color: #0366d6;
}

a:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

h1.display-4 {
    font-size: 24px;
}

.jumbo h1.display-1 {
    font-size: 40px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

p {
    font-size: 1rem;
}

.text-wrap {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
}

.card-deck {
    padding-top: 2em;
}

.card-footer.text-muted {
    font-size: medium;
}*/
/*#endregion Site Defaults*/
/*#region bootstrap extended */
/*.mt-6 {
    margin-top: 3.5rem !important;
}

.pt-6 {
    padding-top: 3.5rem !important;
}

.mt-7 {
    margin-top: 4rem !important;
}

.pt-7 {
    padding-top: 4rem !important;
}

.mt-8 {
    margin-top: 4.5rem !important;
}

.pt-8 {
    padding-top: 4.5rem !important;
}

.mt-9 {
    margin-top: 5rem !important;
}

.pt-9 {
    padding-top: 5rem !important;
}

.mt-10 {
    margin-top: 5.5rem !important;
}

.pt-10 {
    padding-top: 5.5rem !important;
}

.border-purple {
    border-color: #6c41ff;
}

.bg-purple {
    background-color: #6c41ff;
}

.border-skyblue {
    border-color: deepskyblue;
}

.bg-skyblue {
    background-color: #00b0ff;
}

.border-orange {
    border-color: #f37b04;
}

.bg-orange {
    background-color: #f37b04;
}

.border-pink {
    border-color: #f332e4;
}

.bg-pink {
    background-color: #f332e4;
}*/
/*#endregion bootstrap extended */
/*#region Header Carousel */
/*.carousel-caption p {
    display: block;
}

.carousel .carousel-item {
    height: 610px;
}*/
/*.carousel-item a {
    color: #fce10b;
}*/
/*.carousel-item img {
    position: absolute;
    object-fit: cover;
    left: 0;
    min-height: 690px;
}

.carousel h1.display-4 {
    padding-top: 15px;
}*/
/*#endregion header Carousel*/
/*#region Services */
/*#region business-services1-grid1 */
/*#section-business-services1 {
    padding-top: 1em;
}

#section-business-services1 .row {
    padding-top: 1em;
    padding-bottom: 5em;
    margin-right: -8px;
    margin-left: -8px;
}

.business-services1-grid1 {
    padding: 0.1em 0 0.1em 0;
}

.motion-picture1 {
    text-align: center;
    padding-top: 5em;
    animation: fadeInTopRight 2s ease;
}*/
/*#endregion business-services1-grid1*/
/*#region service-feature-grid */
/*.service-feature-grid {
    background-color: #fafafa;
}

.service-feature-grid .col-adjust {
    margin-bottom: 2em;
}

.feature1-header {
    padding: 2em;
}

.service-feature-grid .des-box a {
    color: black;
}

.service-feature-grid .feature-img {
    color: #e13837;
}

.service-feature-grid .des-box {
    transition: 0.3s ease-in;
    border: 1px solid #fafafa;
    border-radius: 6px;
    padding: 2rem 1rem 2rem 1rem;
    background: #fff;
    box-shadow: 1px 5px 7.5px #C4C4C433;
    display: flex;
    text-align: center;
}

.service-feature-grid .des-box:hover {
    background-image: linear-gradient(to left, rgba(247, 228, 205, 0.95), rgba(250, 247, 134, 0.95));
}*/
/*#endregion service-feature-grid*/
/*#endregion Services*/
/*#region business-features */
/*.business-features .row, .service-card-grid .row {
    margin-right: 0;
    margin-left: 0;
}*/
/*#endregion business-features*/
/*#region business-scope */
/*.business-scope .row {
    margin-right: 0;
    margin-left: 0;
}

.business-scope .row .card {
    border: 0;
}

.business-scope img {
    padding: 5em;
}*/
/*#endregion business-scope*/
/*#region feature-set1 */
/*#feature-set1, #feature-how-to-use {*/
/*background: linear-gradient( rgb(96,96,96) ),url(../img/banner360x514.jpg) no-repeat;*/
/*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner360x514.jpg) no-repeat;*/
/*background: url(../img/banner360x514.jpg) no-repeat;*/
/*background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    padding: 80px 0;*/
/*opacity: 8;*/
/*margin: 0 -8px 0 -8px;
}

#feature-set1:hover, #feature-how-to-use:hover {*/
/*fallback - background for browsers that doesn't support rgba*/
/*background: linear-gradient( rgb(96,96,96) ), url(../img/banner360x514.jpg) no-repeat;
    background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner360x514.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#feature-set1 .card, #feature-how-to-use .card {
    background: transparent;
}

#feature-set1 h1, #feature-how-to-use h1 {
    color: #fff;
}*/
/*#endregion feature-set1*/
/*#region misc */
/*.section-divider {
    padding-top: 2em;
    padding-bottom: 2em;
}*/
/*#endregion misc*/
/*#region Custom Footer */
/*.footer-wrapper {
    padding: 3em 0.5em 2em 0.5em;
    background-color: #31002d;*/
/*clip-path: polygon(0 115px, 100% 0, 100% 100%, 0% 100%); 
    */
/*}

.footer .contact-info, .footer .footer-other-links {
    color: white;
    padding: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer ol, .footer ul {
    list-style: none;
    padding: 5px;
    margin: 1px;
    color: white;
}


.footer ol svg, .footer ol span, .footer ul svg, .footer ul span {
    margin-right: .5em;
    color: #f332e4;
}

.footer .privacy {
    text-align: center;*/
/* margin: 5px 0 5px 0;*/
/*color: white;
    padding: 3em 0 2em 0;
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 5px 10px;
    display: none;
    z-index: 2;
    background-color: black;
    color: #f332e4;
    -webkit-animation: bounce 5s ease infinite;
    -moz-animation: bounce 5s ease infinite;
    animation: bounce 5s ease infinite;
}

.back-to-top.btn-dark, .scroll-to-top.btn-dark {
    border-color: #992d58
}

.scroll-to-top {
    background-color: black;
    color: #f332e4;
    -webkit-animation: bounce 5s ease infinite;
    -moz-animation: bounce 5s ease infinite;
    animation: bounce 5s ease infinite;
}

.microdata-info {
    display: none;
}*/
/*#endregion Custom Footer*/
@media (min-width: 320px) {
  /*#region carousel */
  /* .carousel .carousel-item {
        height: 600px;
    }

    .carousel-item img {
        min-height: 600px;
    }*/
  /*#endregion carousel */ }

@media (min-width: 460px) {
  /*#region carousel */
  /*    .carousel .carousel-item {
        height: 460px;
    }

    .carousel-item img {
        min-height: 460px;
    }
*/
  /*#endregion carousel */
  /*#region feature-set1 */
  /*#feature-set1, #feature-how-to-use {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner576x563.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 -8px 0 -8px;
    }

    #feature-set1:hover, #feature-how-to-use:hover {
        background: linear-gradient( rgb(96,96,96) ), url(../img/banner576x563.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner576x563.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }*/
  /*#endregion feature-set1*/ }

@media (min-width: 576px) {
  /*#region Site Defaults */
  /*html {
        font-size: 17px;
    }

    .main-panel {
        padding: 0.5em 1em 0 1em;*/
  /* background-image: url("../img/top-bg.svg");
        background-size: cover;*/
  /*}

    h1.display-4 {
        font-size: 40px;
    }

    .jumbo h1.display-1 {
        font-size: 45px;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 17px;
    }

    .card-deck .card {
        min-width: 50.1%;*/
  /* 1 Column */
  /*margin-bottom: 12px;*/
  /*}*/
  /*#endregion Site Defaults */
  /*#region Navbar */
  /*.navbar .container {
        font-size: 20px;
    }

    .navbar-brand, .nav-link {
        font-size: 20px;
    }

    .nav-height-shrink {
        min-height: 55px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 18px !important;
        font-weight: 400;
    }*/
  /*#endregion Navbar */
  /*#region Carousel */
  /*    .carousel-caption p {
        display: block;
    }

    .carousel .carousel-item {
        height: 400px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        left: 0;
        min-height: 400px;
    }
*/
  /*#endregion Carousel */
  /*#region Feature-set1 */
  /*#feature-set1, #feature-how-to-use {*/
  /*background: linear-gradient( rgb(96,96,96) ),url(../img/banner768x750.jpg) no-repeat;*/
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner768x750.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 -25px 0 -25px;
    }

    #feature-set1:hover, #feature-how-to-use:hover {*/
  /*fallback - background for browsers that doesn't support rgba*/
  /*background: linear-gradient( rgb(96,96,96) ), url(../img/banner768x750.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner768x750.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }*/
  /*#endregion feature-sert1*/
  /*#region Services */
  /*#region business-services1-grid1 */
  /*#section-business-services1 {
        padding: 1em;
    }

    #section-business-services1 .row {
        padding-bottom: 5em;
    }

    .motion-picture1 {
        padding-left: 5px;
        animation: fadeInTopRight 2s ease;
    }*/
  /*#endregion business-services1-grid1*/
  /*#region service-packages */
  /*.service-packages .card-deck .card {
        min-width: 33%;
        margin-bottom: 1em;
    }*/
  /*#endregion service-packages*/
  /*#endregion Services*/
  /*#region business-scope */
  /*.business-scope .card {
        min-width: 32%;
        margin-bottom: 1em;
    }*/
  /*#endregion business-scope*/
  /*#region custom footer */
  /*    .footer-wrapper {
        padding: 3em 1em 2em 1em;
    }*/
  /*#endregion custom footer */ }

@media (min-width: 768px) {
  /*#region Site Defaults */
  /*html {
        font-size: 18px;
    }

    .main-wrapper {
        padding: 0.5em 1.5em 0 1.5em;
    }

    .jumbo h1.display-1 {
        font-size: 60px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .card-deck .card {
        min-width: 33.4%;*/
  /* 2 Columns */
  /*}*/
  /*#endregion Site Defaults */
  /*#region Navbar */
  /*.navbar .container, .navbar-brand, .nav-link {
        font-size: 21px;
        font-weight: 500;
    }

    .nav-height-shrink {
        min-height: 57px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 19px !important;
        font-weight: 400;
    }*/
  /*#endregion Navbar */
  /*#region Carousel */
  /*    .carousel h1.display-4 {
        font-size: 40px;
    }
*/
  /*#endregion Carousel */
  /*#region business-scope */
  /*.business-scope img {
        padding: 1em;
    }*/
  /*#endregion business-scope*/
  /*#region Feature-set1 */
  /*#feature-set1, #feature-how-to-use {
        background: linear-gradient( rgb(96,96,96) ),url(../img/banner992x750.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner992x750.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 -45px 0 -45px;
    }

    #feature-set1:hover, #feature-how-to-use:hover {*/
  /*fallback - background for browsers that doesn't support rgba*/
  /*background: linear-gradient( rgb(96,96,96) ), url(../img/banner992x750.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner992x750.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }*/
  /*#endregion Feature-set1 */
  /*#region custom footer */
  /*    .footer-wrapper {
        padding: 3em 1.5em 2em 1.5em;
    }
*/
  /*    .container.footer {
        min-width: 90vw;
    }
*/
  /*#endregion custom footer */ }

@media (min-width: 992px) {
  /*#region Site Defaults */
  /*html {
        font-size: 19px;
    }

    .main-wrapper {
        padding: 0.5em 2em 0 2em;
    }

    .jumbo h1.display-1 {
        font-size: 70px;
    }

    h1.display-4 {
        font-size: 3.5rem;
    }


    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 19px;
    }

    .card-deck .card {
        min-width: 25.1%;*/
  /* 3 Columns */
  /*}*/
  /*#endregion Site Defaults */
  /*#region Navbar */
  /*    .navbar .container, .navbar-brand, .nav-link {
        font-size: 22px;
    }

    .nav-height-shrink {
        min-height: 60px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 20px !important;
    }*/
  /*#endregion Navbar*/
  /*#region business-scope */
  /*.business-scope img {
        padding: 0.1em;
    }*/
  /*#endregion business-scope*/
  /*#region feature-set1 */
  /*#feature-set1, #feature-how-to-use {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner1200x750.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 -55px 0 -55px;
    }

    #feature-set1:hover, #feature-how-to-use:hover {
        background: linear-gradient( rgb(96,96,96) ), url(../img/banner1200x750.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner1200x750.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }*/
  /*#endregion feature-set1*/
  /*#region custom footer */
  /*    .footer-wrapper {
        padding: 3em 2em 2em 2em;
    }*/
  /*#endregion custom footer */ }

@media (min-width: 1200px) {
  /*#region Site Defaults */
  /*html {
        font-size: 20px;
    }

    .main-wrapper {
        padding: 0.5em 2.5em 0 2.5em;
    }

    .jumbo h1.display-1 {
        font-size: 90px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }*/
  /*#endregion Site Defaults */
  /*#region navbar */
  /*    .navbar .container, .navbar-brand, .nav-link {
        font-size: 23px;
    }

    .nav-height-shrink {
        min-height: 62px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 21px !important;
    }
*/
  /*#endregion navbar*/
  /*#region Services */
  /*#region service-packages */
  /*.service-packages .card-deck .card {
        min-width: 22%;
    }*/
  /*#endregion service-packages*/
  /*#endregion Services*/
  /*#region feature-set1 */
  /*#feature-set1, #feature-how-to-use {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner1980x1238.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 -70px 0 -70px;
    }

    #feature-set1:hover, #feature-how-to-use:hover {
        background: linear-gradient( rgb(96,96,96) ), url(../img/banner1980x1238.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner1980x1238.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }*/
  /*#endregion feature-set1*/
  /*#region misc */
  /*.section-divider {
        padding-top: 2em;
        padding-bottom: 2em;
    }*/
  /*#endregion misc*/
  /*#region custom footer */
  /*    .footer-wrapper {
        padding: 3em 2.5em 2em 2.5em;
    }
*/
  /*#endregion custom footer */ }

@media (min-width: 1980px) {
  /*#region Site Defaults */
  /*html {
        font-size: 21px;
    }

    .main-wrapper {
        padding: 0.5em 3em 0 3em;
    }

    .container-fluid {
        padding: 2px 50px 2px 50px;
    }

    p {
        font-size: 21px;
    }*/
  /*#endregion Site Defaults */
  /*#region navbar */
  /*    .navbar .container, .navbar-brand, .nav-link {
        font-size: 24px;
    }

    .nav-height-shrink {
        min-height: 64px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 22px !important;
    }*/
  /*#endregion navbar*/
  /*#region feature-set1 */
  /*#feature-set1, #feature-how-to-use {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/banner-rest.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 -84px 0 -84px;
    }

    #feature-set1:hover, #feature-how-to-use:hover {
        background: linear-gradient( rgb(96,96,96) ), url(../img/banner-rest.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../img/banner-rest.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }*/
  /*#endregion feature-set1*/
  /*#region custom footer */
  /*    .footer-wrapper {
        padding: 3em 3em 2em 3em;
    }*/
  /*.container.footer {
        min-width: 1780px;
    }
*/
  /*#endregion custom footer */ }
