


@*<div class="design-test-guide">
    <div class="guide-item">Current Viewport(W x H)</div>
    <div class="guide-item"><span class="viewport-width">px</span> &nbsp;X&nbsp;<span class="viewport-height">px</span></div>
    <div class="guide-item">Current Screen(W x H):</div>
    <div class="guide-item"><span class="screen-width">px</span>&nbsp;X&nbsp;<span class="screen-height">px</span></div>
</div>
<div class="new-design-test-guide">
    <div class="guide-item panel-yellow1">This panel will show only in development stage, should not be visible on production site.</div>
    <div class="guide-item panel-yellow2"><span class="break-point"></span>&nbsp;</div>
</div>*@


<div class="dtg">
    <div class="guide-item">Current Viewport(W x H)</div>
    <div class="guide-item"><span class="viewport-width">px</span> &nbsp;X&nbsp;<span class="viewport-height">px</span></div>
    <div class="guide-item">Current Screen(W x H):</div>
    <div class="guide-item"><span class="screen-width">px</span>&nbsp;X&nbsp;<span class="screen-height">px</span></div>
    <div class="guide-item panel-yellow1">This panel will show only in development stage, should not be visible on production site.</div>
    <div class="guide-item panel-yellow2"><span class="break-point"></span>&nbsp;</div>
</div>
