/* The site used following breakpoints as defaults. */
.design-test-guide, .new-design-test-guide, .dtg {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  font-size: 0.72737em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

.logo .guide-item {
  color: #f8f7b8;
  font-size: 12px; }
  .logo .guide-item .viewport-width::after, .logo .guide-item .viewport-height::after {
    content: "px"; }

.design-test-guide .guide-item, .new-design-test-guide .guide-item, .dtg .guide-item {
  border-radius: .2rem;
  background-color: #e2faa7;
  padding: .5rem; }

.design-test-guide, .dtg {
  margin-top: 2rem;
  /*margin-top: 111px;*/ }

.break-point::after {
  content: "BP < 320px(20em)";
  font-size: 8px;
  /* Fallback to support old outlook websites */
  font-size: 0.72737em; }

.show-menu-break-point-text::after {
  content: "BP < 320px(20em)";
  font-size: 5px;
  /* Fallback to support old outlook websites */
  font-size: 0.5rem; }

.sticky-footer {
  position: fixed;
  bottom: 0px;
  left: 8px;
  z-index: 99; }

.dev-col {
  padding: 0.1rem 0.5rem;
  background: #000000; }
  .dev-col .show-menu-break-point-text {
    color: white; }

@media (min-width: 20em) {
  /* 20*16px = 320px */
  .design-test-guide, .new-design-test-guide {
    margin-right: 0rem; }
  .break-point::after {
    content: "BP = 320px(20em)"; }
  .show-menu-break-point-text::after {
    content: "BP = 320px(20em)"; } }

@media (min-width: 30em) {
  /* 30*16px = 480px */
  .break-point::after {
    content: "BP = 480px(30em)"; }
  .show-menu-break-point-text::after {
    content: "BP = 480px(30em)";
    font-size: 7px;
    /* Fallback to support old outlook websites */
    font-size: 0.7rem; } }

@media (min-width: 36em) {
  /* 36*16px = 576px */
  .design-test-guide, .new-design-test-guide, .dtg {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.6rem; }
  .new-design-test-guide {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
    .new-design-test-guide > div:first-child {
      grid-column: span 3; }
  .dtg {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
    .dtg > div:nth-child(5) {
      grid-column: span 3; }
  .break-point::after {
    content: "BP = 576px(36em)";
    font-size: 0.6rem; }
  .show-menu-break-point-text::after {
    content: "BP = 576px(36em)";
    font-size: 8px;
    /* Fallback to support old outlook websites */
    font-size: 0.6rem; } }

@media (min-width: 48em) {
  /*  48*16px = 768px */
  .new-design-test-guide > div:first-child {
    grid-column: span 4; }
  .dtg {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
    .dtg > div:nth-child(5) {
      grid-column: span 2; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 768px(48em)"; } }

@media (min-width: 62em) {
  /* 62*16px = 992px */
  .design-test-guide {
    grid-template-columns: repeat(4, 1fr); }
  .new-design-test-guide > div:first-child {
    grid-column: span 5; }
  .dtg {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
    .dtg > div:nth-child(5) {
      grid-column: span 3; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 992px(62em)"; } }

@media (min-width: 75em) {
  /* 75*16px = 1200px */
  .new-design-test-guide, .design-test-guide, .dtg {
    font-size: 0.8rem; }
  .new-design-test-guide > div:first-child {
    grid-column: span 4; }
  /*    .dtg {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 0.5rem;
        font-size: $breakpt_display_font;

        > div:nth-child(5) {
            grid-column: span 3;
        }
    }*/
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 1200px(75em)";
    font-size: 0.8rem; } }

@media (min-width: 87.5em) {
  /* 87.5*16px = 1400px */
  .dtg {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.5rem;
    font-size: 0.6rem; }
    .dtg > div:nth-child(5) {
      grid-column: span 3; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 1400px(87.5em)";
    font-size: 0.6rem; } }

@media (min-width: 105em) {
  /* 105*16px = 1680px */
  .dtg {
    font-size: 0.7rem; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 1680px(105em)";
    font-size: 0.7rem; } }

@media (min-width: 120em) {
  /* 120*16px = 1920px */
  .dtg {
    font-size: 0.9rem; }
  .design-test-guide {
    grid-template-columns: repeat(8, 1fr); }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 1920px(120em)";
    font-size: 0.9rem; } }

@media (min-width: 160em) {
  /* 160*16px = 2560px */
  .dtg {
    font-size: 1rem; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 2560px(160em)";
    font-size: 1rem; } }

@media (min-width: 240em) {
  /* 240*16px = 3840px */
  .dtg {
    font-size: 1.3rem; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 3840px(240em)";
    font-size: 1.3rem; } }

@media (min-width: 480em) {
  /* 480*16px = 7680px */
  .dtg {
    font-size: 1.6rem; }
  .break-point::after, .show-menu-break-point-text::after {
    content: "BP = 7680px(480em)";
    font-size: 1.6rem; } }
