@import '../DefaultBreakPoints.scss';


/* Use this template to add new scss file for the project */

/*#region Defaults and below $bp320-xx-small */


.carousel-caption p {
    display: block;
}

.carousel .carousel-item {
    height: 610px;
}
/*.carousel-item a {
    color: #fce10b;
}*/
.carousel-item img {
    position: absolute;
    object-fit: cover;
    left: 0;
    min-height: 690px;
}

.carousel h1.display-4 {
    padding-top: 15px;
}


/*#endregion */

@media (min-width: $bp320-xx-small) {
    /* 20*16px = 320px */
    .carousel .carousel-item {
        height: 600px;
    }

    .carousel-item img {
        min-height: 600px;
    }
}

@media (min-width: $bp480-x-small) {
    /* 30*16px = 480px */
    .carousel .carousel-item {
        height: 460px;
    }

    .carousel-item img {
        min-height: 460px;
    }

}

@media (min-width: $bp576-small) {
    /* 36*16px = 576px */
    .carousel-caption p {
        display: block;
    }

    .carousel .carousel-item {
        height: 400px;
    }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        left: 0;
        min-height: 400px;
    }

}

@media (min-width: $bp768-medium) {
    /*  48*16px = 768px */

    .carousel h1.display-4 {
        font-size: 40px;
    }

}

@media (min-width: $bp992-large) {
    /* 62*16px = 992px */
}

@media (min-width: $bp1200-x-large) {
    /* 75*16px = 1200px */
}

@media (min-width: $bp1400-xx-large) {
    /* 87.5*16px = 1400px */
}

@media (min-width: $bp1680-xxx-large) {
    /* 105*16px = 1680px */
}

@media (min-width: $bp1920-hd) {
    /* 120*16px = 1920px */
}

@media (min-width: $bp2560-ultrasharp) {
    /* 160*16px = 2560px */
}

@media (min-width: $bp3840-uhd-4k) {
    /* 240*16px = 3840px */

}

@media (min-width: $bp7680-uhd-8k) {
    /* 480*16px = 7680px */

}
