/* The site used following breakpoints as defaults. */
/* Use this template to add new scss file for the project */
/*#region Defaults and below $bp320-xx-small */
.carousel-caption p {
  display: block; }

.carousel .carousel-item {
  height: 610px; }

/*.carousel-item a {
    color: #fce10b;
}*/
.carousel-item img {
  position: absolute;
  object-fit: cover;
  left: 0;
  min-height: 690px; }

.carousel h1.display-4 {
  padding-top: 15px; }

/*#endregion */
@media (min-width: 20em) {
  /* 20*16px = 320px */
  .carousel .carousel-item {
    height: 600px; }
  .carousel-item img {
    min-height: 600px; } }

@media (min-width: 30em) {
  /* 30*16px = 480px */
  .carousel .carousel-item {
    height: 460px; }
  .carousel-item img {
    min-height: 460px; } }

@media (min-width: 36em) {
  /* 36*16px = 576px */
  .carousel-caption p {
    display: block; }
  .carousel .carousel-item {
    height: 400px; }
  .carousel-item img {
    position: absolute;
    object-fit: cover;
    left: 0;
    min-height: 400px; } }

@media (min-width: 48em) {
  /*  48*16px = 768px */
  .carousel h1.display-4 {
    font-size: 40px; } }

@media (min-width: 62em) {
  /* 62*16px = 992px */ }

@media (min-width: 75em) {
  /* 75*16px = 1200px */ }

@media (min-width: 87.5em) {
  /* 87.5*16px = 1400px */ }

@media (min-width: 105em) {
  /* 105*16px = 1680px */ }

@media (min-width: 120em) {
  /* 120*16px = 1920px */ }

@media (min-width: 160em) {
  /* 160*16px = 2560px */ }

@media (min-width: 240em) {
  /* 240*16px = 3840px */ }

@media (min-width: 480em) {
  /* 480*16px = 7680px */ }

/* The site used following breakpoints as defaults. */
/*#region Defaults and below $bp320-xx-small */
/*#region section-business-services1 */
#section-business-services1 {
  padding-top: 1em; }

#section-business-services1 .row {
  padding-top: 1em;
  padding-bottom: 5em;
  margin-right: -8px;
  margin-left: -8px; }

.business-services1-grid1 {
  padding: 0.1em 0 0.1em 0; }

.motion-picture1 {
  text-align: center;
  padding-top: 5em;
  animation: fadeInTopRight 2s ease; }

/*#endregion section-business-services1 */
/*#region business-features */
.business-features .row, .service-card-grid .row {
  margin-right: 0;
  margin-left: 0; }

/*#endregion business-features*/
/*#region business-scope */
.business-scope .row {
  margin-right: 0;
  margin-left: 0; }

.business-scope .row .card {
  border: 0; }

.business-scope img {
  padding: 5em; }

/*#endregion business-scope*/
/*#endregion */
@media (min-width: 20em) {
  /* 20*16px = 320px */ }

@media (min-width: 30em) {
  /* 30*16px = 480px */ }

@media (min-width: 36em) {
  /* 36*16px = 576px */
  /*#region section-business-services1 */
  #section-business-services1 {
    padding: 1em; }
  #section-business-services1 .row {
    padding-bottom: 5em; }
  .motion-picture1 {
    padding-left: 5px;
    animation: fadeInTopRight 2s ease; }
  /*#endregion section-business-services1 */
  /*#region business-scope */
  .business-scope .card {
    min-width: 32%;
    margin-bottom: 1em; }
  /*#endregion business-scope*/
  /*#region service-packages */
  .service-packages .card-deck .card {
    min-width: 33%;
    margin-bottom: 1em; }
  /*#endregion service-packages*/ }

@media (min-width: 48em) {
  /*  48*16px = 768px */
  /*#region business-scope */
  .business-scope img {
    padding: 1em; }
  /*#endregion business-scope*/ }

@media (min-width: 62em) {
  /* 62*16px = 992px */
  /*#region business-scope */
  .business-scope img {
    padding: 0.1em; }
  /*#endregion business-scope*/ }

@media (min-width: 75em) {
  /* 75*16px = 1200px */
  /*#region service-packages */
  .service-packages .card-deck .card {
    min-width: 22%; }
  /*#endregion service-packages*/ }

@media (min-width: 87.5em) {
  /* 87.5*16px = 1400px */ }

@media (min-width: 105em) {
  /* 105*16px = 1680px */ }

@media (min-width: 120em) {
  /* 120*16px = 1920px */ }

@media (min-width: 160em) {
  /* 160*16px = 2560px */ }

@media (min-width: 240em) {
  /* 240*16px = 3840px */ }

@media (min-width: 480em) {
  /* 480*16px = 7680px */ }

/* The site used following breakpoints as defaults. */
/*#region Defaults and below $bp320-xx-small */
/*#region section-service-feature-grid */
.service-feature-grid {
  background-color: #fafafa; }

.service-feature-grid .col-adjust {
  margin-bottom: 2em; }

.feature1-header {
  padding: 2em; }

.service-feature-grid .des-box a {
  color: black; }

.service-feature-grid .feature-img {
  color: #e13837; }

.service-feature-grid .des-box {
  transition: 0.3s ease-in;
  border: 1px solid #fafafa;
  border-radius: 6px;
  padding: 2rem 1rem 2rem 1rem;
  background: #fff;
  box-shadow: 1px 5px 7.5px #C4C4C433;
  display: flex;
  text-align: center; }

.service-feature-grid .des-box:hover {
  background-image: linear-gradient(to left, rgba(247, 228, 205, 0.95), rgba(250, 247, 134, 0.95)); }

/*#endregion section-service-feature-grid*/
/*#region feature-set1 */
#feature-set1, #feature-how-to-use {
  /*background: linear-gradient( rgb(96,96,96) ),url(../../../../img/banner360x514.jpg) no-repeat;*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner360x514.jpg) no-repeat;
  /*background: url(../img/banner360x514.jpg) no-repeat;*/
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  padding: 80px 0;
  /*opacity: 8;*/
  margin: 0 -8px 0 -8px; }

#feature-set1:hover, #feature-how-to-use:hover {
  /*fallback - background for browsers that doesn't support rgba*/
  background: linear-gradient(#606060), url(../../../../img/banner360x514.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner360x514.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#feature-set1 .card, #feature-how-to-use .card {
  background: transparent; }

#feature-set1 h1, #feature-how-to-use h1 {
  color: #fff; }

/*#endregion feature-set1*/
/*#endregion */
@media (min-width: 20em) {
  /* 20*16px = 320px */ }

@media (min-width: 30em) {
  /* 30*16px = 480px */
  /*#region feature-set1 */
  #feature-set1, #feature-how-to-use {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner576x563.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -8px 0 -8px; }
  #feature-set1:hover, #feature-how-to-use:hover {
    background: linear-gradient(#606060), url(../../../../img/banner576x563.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner576x563.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /*#endregion feature-set1*/ }

@media (min-width: 36em) {
  /* 36*16px = 576px */
  /*#region Feature-set1 */
  #feature-set1, #feature-how-to-use {
    /*background: linear-gradient( rgb(96,96,96) ),url(../../../../img/banner768x750.jpg) no-repeat;*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner768x750.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -25px 0 -25px; }
  #feature-set1:hover, #feature-how-to-use:hover {
    /*fallback - background for browsers that doesn't support rgba*/
    background: linear-gradient(#606060), url(../../../../img/banner768x750.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner768x750.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /*#endregion feature-sert1*/ }

@media (min-width: 48em) {
  /*  48*16px = 768px */
  /*#region Feature-set1 */
  #feature-set1, #feature-how-to-use {
    background: linear-gradient(#606060), url(../../../../img/banner992x750.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner992x750.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -45px 0 -45px; }
  #feature-set1:hover, #feature-how-to-use:hover {
    /*fallback - background for browsers that doesn't support rgba*/
    background: linear-gradient(#606060), url(../../../../img/banner992x750.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner992x750.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /*#endregion Feature-set1 */ }

@media (min-width: 62em) {
  /* 62*16px = 992px */
  /*#region feature-set1 */
  #feature-set1, #feature-how-to-use {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner1200x750.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -55px 0 -55px; }
  #feature-set1:hover, #feature-how-to-use:hover {
    background: linear-gradient(#606060), url(../../../../img/banner1200x750.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner1200x750.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /*#endregion feature-set1*/ }

@media (min-width: 75em) {
  /* 75*16px = 1200px */
  /*#region feature-set1 */
  #feature-set1, #feature-how-to-use {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner1980x1238.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -70px 0 -70px; }
  #feature-set1:hover, #feature-how-to-use:hover {
    background: linear-gradient(#606060), url(../../../../img/banner1980x1238.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner1980x1238.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /*#endregion feature-set1*/ }

@media (min-width: 87.5em) {
  /* 87.5*16px = 1400px */ }

@media (min-width: 105em) {
  /* 105*16px = 1680px */ }

@media (min-width: 120em) {
  /* 120*16px = 1920px */
  /*#region feature-set1 */
  #feature-set1, #feature-how-to-use {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../img/banner-rest.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 -84px 0 -84px; }
  #feature-set1:hover, #feature-how-to-use:hover {
    background: linear-gradient(#606060), url(../../../../img/banner-rest.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 1, 0.5), black), url(../../../../img/banner-rest.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  /*#endregion feature-set1*/ }

@media (min-width: 160em) {
  /* 160*16px = 2560px */ }

@media (min-width: 240em) {
  /* 240*16px = 3840px */ }

@media (min-width: 480em) {
  /* 480*16px = 7680px */ }
