
<section id="section_business-features" class="business-features">
    <article class="row  mt-1  row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/trees.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a card with a picture and supporting text next as a natural lead-in to additional content. On larger devices it will show as a little bit longer card with the picture on the right.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer  text-center  border-0">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/shop.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer  text-center  border-0">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/img/it-learn.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">On medium devices it will show as a little bit narrower but taller card with the picture on the top.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer  text-center  border-0">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </article>



</section>
