
<section id="sctn-ServicePackages">
    <div class="service-packages">
        <div class="row1">
            <div class="col">
                <div class="titlepage text-center">
                    <h1 class="display-4">Check <span class="text-danger">Out  </span><span class="text-primary">This 3</span><span class="text-warning"> Column,</span> <span class="text-success">Card Deck</span></h1>
                    <p>
                        Need a set of equal width and height cards that aren’t attached to one another? Use card decks. Card footers in decks will automatically line up.
                    </p>
                    <p>Below grid uses the Card Deck introduced in bootstrap 4.3.1 to group rectangle boxes. </p>
                    <small>Note that on a small screen, i.e. mobile, it will stack up in to one column. On medium size devices it will show 2 cards per row stacking on the other two.</small>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card border-success">
                <div class="card-header text-white bg-success"> <h5 class="card-title text-center">IT Services</h5></div>

                <div class="card-body">
                    <img src="~/img/undraw_building_re_xfcm.svg" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer border-success text-center">
                    <small class="text-muted"><a class="btn btn-success" href="#">Buy Now</a></small>
                </div>
            </div>
            <div class="card border-danger">
                <div class="card-header text-white bg-danger"> <h5 class="card-title text-center">Desktop Apps</h5></div>
                <div class="card-body">
                    <img src="~/img/undraw_best_place_re_lne9.svg" class="card-img-top" alt="...">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer border-danger text-center">
                    <small class="text-muted"><a class="btn btn-danger" href="#">Buy Now</a></small>
                </div>
            </div>
            <div class="card border-primary">
                <div class="card-header text-white bg-primary"> <h5 class="card-title text-center">Web Development</h5></div>
                <div class="card-body">
                    <img src="~/img/undraw_setup_analytics_re_foim.svg" class="card-img-top" alt="...">
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer border-primary text-center">
                    <small class="text-muted"><a class="btn btn-primary" href="#">Buy Now</a></small>
                </div>
            </div>
            @*<div class="card border-warning">
                    <div class="card-header  bg-warning"> <h5 class="card-title text-center">Web Hosting</h5></div>
                    <div class="card-body">
                        <img src="~/img/undraw_new_message_re_fp03.svg" class="card-img-top" alt="...">
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer border-warning text-center">
                        <small class="text-muted"><a class="btn btn-warning" href="#">Buy Now</a></small>
                    </div>
                </div>*@


        </div>
    </div>

</section>

