@import '../DefaultBreakPoints.scss';
@import '../scssFunctions.scss';

/* Use this template to add new scss file for the project */

/*#region Defaults and below $bp320-xx-small */

.footer-wrapper {
    padding: 3em 0.5em 2em 0.5em;
    background-color: #31002d;
    /*clip-path: polygon(0 115px, 100% 0, 100% 100%, 0% 100%); 
    */
}

.footer .contact-info, .footer .footer-other-links {
    color: white;
    padding: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer ol, .footer ul {
    list-style: none;
    padding: 5px;
    margin: 1px;
    color: white;
}


.footer ol svg, .footer ol span, .footer ul svg, .footer ul span {
    margin-right: .5em;
    color: #f332e4;
}

.footer .privacy {
    text-align: center;
    /* margin: 5px 0 5px 0;*/
    color: white;
    padding: 3em 0 2em 0;
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 5px 10px;
    display: none;
    z-index: 2;
    background-color: black;
    color: #f332e4;
    -webkit-animation: bounce 5s ease infinite;
    -moz-animation: bounce 5s ease infinite;
    animation: bounce 5s ease infinite;
}

.back-to-top.btn-dark, .scroll-to-top.btn-dark {
    border-color: #992d58
}

.scroll-to-top {
    background-color: black;
    color: #f332e4;
    -webkit-animation: bounce 5s ease infinite;
    -moz-animation: bounce 5s ease infinite;
    animation: bounce 5s ease infinite;
}




/*#endregion */

@media (min-width: $bp320-xx-small) {
    /* 20*16px = 320px */
}

@media (min-width: $bp480-x-small) {
    /* 30*16px = 480px */
}

@media (min-width: $bp576-small) {
    /* 36*16px = 576px */
    .footer-wrapper {
        padding: 3em 1em 2em 1em;
    }
}

@media (min-width: $bp768-medium) {
    /*  48*16px = 768px */
    .footer-wrapper {
        padding: 3em 1.5em 2em 1.5em;
    }

}

@media (min-width: $bp992-large) {
    /* 62*16px = 992px */
    .footer-wrapper {
        padding: 3em 2em 2em 2em;
    }
}

@media (min-width: $bp1200-x-large) {
    /* 75*16px = 1200px */
    .footer-wrapper {
        padding: 3em 2.5em 2em 2.5em;
    }

}

@media (min-width: $bp1400-xx-large) {
    /* 87.5*16px = 1400px */
}

@media (min-width: $bp1680-xxx-large) {
    /* 105*16px = 1680px */
}

@media (min-width: $bp1920-hd) {
    /* 120*16px = 1920px */
    .footer-wrapper {
        padding: 3em 3em 2em 3em;
    }
}

@media (min-width: $bp2560-ultrasharp) {
    /* 160*16px = 2560px */
}

@media (min-width: $bp3840-uhd-4k) {
    /* 240*16px = 3840px */

}

@media (min-width: $bp7680-uhd-8k) {
    /* 480*16px = 7680px */

}
