@import 'NavbarHover.scss';

$bgDropDownLevel1: #0a7503;
$bgDropDownLevel2: #05873f;
$bgDropDownLevel3: #07a198;
$caret-right: -90deg;
$caret-left: 90deg;

.home-top-nav .collapse ul ul, .home-top-nav .collapse ul ul.dropdown-menu {
    background: $bgDropDownLevel1;
}

.home-top-nav .collapse ul ul ul, .home-top-nav .collapse ul ul ul.dropdown-menu {
    background: $bgDropDownLevel2;
}

.home-top-nav .collapse ul ul ul ul, .home-top-nav .collapse ul ul ul ul.dropdown-menu {
    background: $bgDropDownLevel3;
}

@media only screen and (min-width: 768px) {

    @mixin dropto($caret1, $caret2) {
        > li {
            > a:hover:after {
                text-decoration: underline;
                transform: rotate($caret1); //eg. -90deg
            }
        }

        ul {
            > li {
                > a:hover:after {
                    text-decoration: underline;
                    transform: rotate($caret2); //eg. 90deg
                }
            }
        }
    }

    .dropdown-menu {
        @include dropto($caret-right, $caret-left);
    }

    .rightmost-dropdown {
        .dropdown-menu {
            @include dropto($caret-left, $caret-right);
        }
    }
}
